<h1><%= @blogger.name %></h1>

<p>Total Likes: <%= @blogger.total_likes %></p>

<% if @blogger.posts.any? %>
    <h3>Featured Post: <%= link_to @blogger.featured_post.title, @blogger.featured_post %></h3>
<% else %>
    <h3>No Featured Posts</h3>
<% end %>

<h3>Top 5 Most Written About Destinations</h3>
<ul>
    <% @blogger.top_5_written_about_destinations.each do |dest| %>
        <li><%= dest.name %></li>
    <% end %>
</ul>

<br>
<%= link_to "Bloggers", bloggers_path %>